<h1>Artist: <%= @artist.name %></h1>

<h2>Songs:<h2>
<% @artist.songs.each do | s |%>
  <a href="/songs/<%= s.slug %>"><%= s.name%></a>
<% end %><br>

<h2>Genre(s):<h2>
<% @song.genres.each do | g |%>
  <a href="/genres/<%= g.slug %>"><%= g.name%></a>
<% end %>
